PORT=4000
DB_HOST='localhost'
DB_NAME='cart'
DB_DIALECT='mysql'
DB_USER='root'
DB_PASSWORD='secret'
JWT_SECRET='secret'
MAIL_HOST='smtp.mailtrap.io'
MAIL_PORT=2525
MAIL_USER='37b4c3976220cc'
MAIL_PASSWORD='bc82374453be8c'